<p id="notice"><%= notice %></p>

<h1><%= @title %></h1>

<table style="padding: 5px;">
  <thead>
    <tr>
    <% @cols.each do |c| %>
      <th><%= c %></th>
    <% end %>
    </tr>
  </thead>

  <tbody>
    <% @rows.each do |r| %>
      <tr>
      <% r.each do |e| %>
        <td><%= e %></td>
      <% end %>
        <td><%= link_to 'Remove Row', '/administrator/remove_row/' + @table + '/' + r[0] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>
<p><%= link_to 'Clear ' + @title + ' table', '/developer/clear_table/' + @table %></p>
