<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= hidden_field_tag :signup, @signup.to_s %>

  <div class="field">
    <%= f.label :unom, 'Username: ' %><br>
    <%= f.text_field :unom %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :passhash, 'Password: ' %><br>
    <%= f.password_field :passhash %>
  </div>
  <div class="field">
    <%= f.label :passhash_confirmation, 'Confirm Password: ' %><br>
    <%= f.password_field :passhash_confirmation %>
  </div>
  <div class="field">
    <%= f.label :name_t, 'Title: ' %><br>
    <%= f.collection_select :name_t, Title.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :name_f, 'First Name: ' %><br>
    <%= f.text_field :name_f %>
  </div>
  <div class="field">
    <%= f.label :name_m, 'Middle Name(s): ' %><br>
    <%= f.text_field :name_m %>
  </div>
  <div class="field">
    <%= f.label :name_l, 'Last Name: ' %><br>
    <%= f.text_field :name_l %>
  </div>
  <div class="field">
    <%= f.label :name_s, 'Suffix: ' %><br>
    <%= f.collection_select :name_s, Suffix.all, :id, :name %>
  </div>
  <div class="field" style="visibility: true;">
    <%= f.label :contact_id %><br>
    <%= f.number_field :contact_id %>
  </div>
  <div class="field">
    <%= f.label :birthdate %><br>
    <%= f.date_select :birthdate %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
