<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.unom %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Salted Passhash:</strong>
  <%= @user.salt_passhash %>
</p>

<p>
  <strong>Salt:</strong>
  <%= @user.salt %>
</p>

<p>
  <strong>Title:</strong>
  <%= Title.find(@user.name_t).name %>
</p>

<p>
  <strong>First Name:</strong>
  <%= @user.name_f %>
</p>

<p>
  <strong>Middle Name:</strong>
  <%= @user.name_m %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @user.name_l %>
</p>

<p>
  <strong>Suffix:</strong>
  <%= Suffix.find(@user.name_s).name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @user.status %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @user.contact_id %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @user.birthdate %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
