<%= form_for(@bible_lesson) do |f| %>
  <% if @bible_lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bible_lesson.errors.count, "error") %> prohibited this bible_lesson from being saved:</h2>

      <ul>
      <% @bible_lesson.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :subject %><br>
    <%= f.text_field :subject %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br>
    <%= f.number_field :category_id %>
  </div>
  <div class="field">
    <%= f.label :author_id %><br>
    <%= f.number_field :author_id %>
  </div>
  <div class="field">
    <%= f.label :tags %><br>
    <%= f.text_area :tags %>
  </div>
  <div class="field">
    <%= f.label :lesson %><br>
    <%= f.text_area :lesson %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
