<!DOCTYPE html>
<html>
<head>
  <title>Peniel Seventh-day Adventist Church (Fort Myers)&nbsp;Fort Myers&nbsp;FL</title>
  <meta name="Description" content="Trying to find a church? Visit Peniel Seventh-day Adventist<font size=3><sup>&reg;</sup></font> Church (Fort Myers), your local Adventist church in Fort Myers FL and experience a Christian church community based on the beliefs of the Seventh day Adventist Church. Consider this SDA church your new Christian family.">
  <meta name="KeyWords" content="Christian churches Fort Myers FL, Seventh-day Adventist<font size=3><sup>&reg;</sup></font> churches, seventh day adventists, 7th day adventists, local churches, adventism, community churches, sda churches, church directory, find a church">
  <meta name="geo.position" content="26.647453;-81.858831">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield :script %>
  <%= yield :style %>
</head>
<body id="body" class="su_bootstrap_safe">

<div id="content">
  <%= yield %>
  <div id="params">
    <%= debug(params) %>
  </div>
</div>

</body>
</html>
